{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Actions Table</title>

    <link rel="stylesheet" href="{% static 'css/manual.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>Flash Actions Table</h2>
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Index</th>
                <th>Lots</th>
                <th>Max Profit</th>
                <th>Max Loss</th>
                <th>Trend Check Points</th>
                <th>Strike</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody id="flashTableBody">
            <!-- Dynamic rows will be populated here -->
        </tbody>
    </table>
    <h2>Trade Actions Table</h2>
    <div id="auth_details">
        <button id="tkn_btn">Regenerate Token</button>
        <div id="token_details"></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Index</th>
                <th>Lots</th>
                <th>Trigger</th>
                <th>SL</th>
                <th>Target</th>
                <th>Strike</th>
                <th>CurrentOrder</th>
            </tr>
        </thead>
        <tbody id="tradeTableBody">
            <!-- Dynamic rows will be populated here -->
        </tbody>
    </table>

    <!-- Result div -->
    <div id="result" class="success">

    </div>
    <!-- The Modal -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="editOrderForm">
            <!-- Form content will be dynamically inserted here -->
        </form>
    </div>
</div>
<canvas id="strategyChart"></canvas>
    <div id="summaryWrapper">
    <div id="currentDaySummaryContainer">
        <h3>Current Day Summary ({{current_date}})</h3>
        <table id="currentDaySummaryTable" border="1">
            <thead>
                <tr>
                    <th>Strategy</th>
                    <th>Index Name</th>
                    <th>Order Count</th>
                    <th>Total Profit</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="fullSummaryContainer">
        <h3>Full Summary</h3>
        <table id="fullSummaryTable" border="1">
            <thead>
                <tr>
                    <th>Strategy</th>
                    <th>Index Name</th>
                    <th>Order Count</th>
                    <th>Total Profit</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</body>
<script src="{% static 'js/manual.js'%}" type="text/javascript"></script>
</html>
